.markdown a{
  color: blue;
}

.markdown li{
  list-style-type: disc;
}

.markdown h1 {
  @apply text-3xl border-b
}

.markdown code {
  background-color: rgba(237, 237, 237, 0.15);
  padding: 0.1rem;
}

.markdown pre {
  background-color: rgba(237, 237, 237, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2)
}

.utterances {
  position:relative
}

.utterances-frame {

}