.markdown a {
  color: rgb(36, 116, 5);
}

.markdown li {
  list-style-type: disc;
}

.markdown h1 {
  @apply text-3xl border-b my-3 font-bold
}

.markdown h2 {
  @apply text-xl my-3 font-bold
}


.markdown p {
  @apply my-3
}

.markdown img {
  @apply my-0 w-full md:w-9/12 lg:w-8/12 xl:w-7/12;
  border-radius: 1rem;
  box-shadow: 0px 4px 25px rgb(88, 88, 88);
}

.markdown code {
  background-color: rgba(237, 237, 237, 0.843);
  padding: 0.1rem;
}

.markdown li>ul {
  @apply ml-5
}

.markdown pre {
  @apply my-5;
  background-color: rgba(237, 237, 237, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2)
}

.markdown pre code {
  background: none;
}

.markdown blockquote {
  @apply bg-slate-200 p-3 rounded-lg border-2 border-slate-400 my-5
}

.markdown blockquote>p {
  @apply border-l-2 border-slate-400 pl-3
}

.utterances {
  position: relative
}

/* 
.utterances-frame {

} */