.glass {
/* From https://css.glass */
background-color: rgba(255, 255, 255, 0.151);
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 1rem;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.nav_container {
  background: linear-gradient(135deg, rgb(182, 217, 251) 0%, rgb(50, 153, 255) 100%);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}